@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f0f0f0;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

@media (max-width: 1024px) {
  body {
    place-items: center;
  }
}

@media (max-width: 640px) {
  #content h1 {
    font-size: 10px;
  }
  #content h5 {
    font-size: 7px;
  }
  .logo {
    margin-left: 10px;
  }
}

@media (max-width: 768px) {
  .logo {
    margin-left: 10px;
  }
}
